<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866872221545-8gdgstv462a9s89s4n245v8e345nacm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866872221545-8gdgstv462a9s89s4n245v8e345nacm1</string>
	<key>API_KEY</key>
	<string>AIzaSyCyrN2Z95W1SQJKfJcVkCjLflj26g7S_Ug</string>
	<key>GCM_SENDER_ID</key>
	<string>866872221545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctor</string>
	<key>PROJECT_ID</key>
	<string>doctor-appointment-app-bb40a</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-appointment-app-bb40a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866872221545:ios:b1ef65ba524bbd7a9ae7f8</string>
</dict>
</plist>